.about {
    flex-wrap: wrap;
    font-size: 1.5rem;
    color: white;
    grid-area: c;
    margin: 40px
}
.heading {
    color: darkorange;
    font-family: "Archivo Black", sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 10px;
}