.nav {
    position: fixed;
    top: 69px;
    left: -60px;
    color: white;
    font-family: "Archivo Black", sans-serif;
    font-size: 1.5rem;
    padding: 50px 0 0 35px;
    grid-area: n;
}

.item {
    height: 100px;
}

.item a {
    text-decoration: none;
    color: black;
}

.item a:hover {
    text-decoration: none;
    color: brown;
}

.textblock {
    position: absolute;
    text-align: center;
    top: 90px;
    left: 215px;
}
