.nav {
    position: fixed;
    top: 79px;
    left: 55px;
    color: white;
    height: 1000px;
    font-family: "Archivo Black", sans-serif;
    font-size: 1.5rem;
    padding: 50px 0 0 35px;
    grid-area: n;
}


.nav img {
    width: 100px;
}

.item {
    height: 60px;
}

.item a {
    text-decoration: none;
    color: darkorange;
}

.item a:hover {
    margin: 10px;
    text-decoration: none;
    color: brown;
}

.textblock {
    position: absolute;
    text-align: left;
    top: 90px;
    left: 140px;
}
