.item {
    width: 210px;
    background-color: black;
    margin: 10px;
    padding: 10px;
    color: white;
    font-family: "Archivo Black", sans-serif;
}

.item:hover {
    width: 210px;
    background-color: black;
    margin: 10px;
    padding: 10px;
    color: darkorange;
    font-family: "Archivo Black", sans-serif;
}
.item img {
    object-fit: cover;
    float: left;
    height: 200px;
    width: 160px;
    margin: 25.7px;
}